/*Responsive design code taken from https://www.w3schools.com/Css/tryit.asp?filename=tryresponsive_col-s*/
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: #adc2ad;
}

main{
  max-width: 80%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
p {
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    color: black;
}

h1,
h2,
h4{
    text-align: center;
}


/*W3 Schools*\
/* For mobile phones: */

[class*="col-"] {
    width: 100%;
}

@media only screen and (max-width: 600px) {

    #me {
        border-radius: 25%;
        width: 30%;
        height: auto;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }

    #me {
        border-radius: 25%;
        width: 30%;
        height: auto;
    }
    .bottom {
        padding-bottom: 50%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    /* img{
      width: 20%;
      height: auto;
    } */
    #me {
        border-radius: 25%;
        width: 27%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    /* bottom: 0; */
    width: 100%;
}

.navbar a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    width: 20%;
}

.navbar a:hover {
    background-color: grey;
    color: black;
}


div {
    border-radius: 2em;
    text-align: justify;
    margin: auto;
    border: 1px solid black;
}
img{
    width: 100%;
    height: auto;
}

#intro   {
background-color: #adadc2;
}
#about   {
background-color: #c2adad;
}
#cv   {
background-color: #adadc2;
}
#projects   {
background-color: #c2adad;
}
#blog   {
background-color: #adadc2;
}


